/*

couleurs:
#F08537
#5DA271
#BKF7F3E3

font:
font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
padidng top: 2em;
*/

<<<<<<< HEAD

/*  Body
=================================== */

h1{
    font-family: 'Poppins', sans-serif;
}
h2 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
    color: #f08537;
}
/*  Avis
=================================== */

.avis {
    background-image: url(./png/background_avis.png);
    background-size: cover;
    padding: 2em;
}

.avis h2:after {
    background-color: #f08537;
}

.avis blockquote {
    padding: 5px;
    font-style: italic;
    line-height: 130%;
    color: #f08537;
}

blockquote:before {
    content: ”\0022″;
    font-size: 800%;
    font-family: 'Sanchez', serif;
}

.avis cite {
    font-size: 90%;
    display: block;
    margin-top: 20px;
}

.avis cite img {
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.icone-speak b{
    padding: 5px;
    size: 2em;
}
/*  bandeau
=================================== */

.bandeau {
    padding: 20px;
    background-color: #f08537;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.bandeau i {
    margin-bottom: 0.9em;
}

/*  vidéo youtube
=================================== */

.playeur_youtube {
    padding: 20px;
}

/* GLOBAL
################################# */

h1, h2 {
    font-family: 'Poppins.700','lato Regular.400','Arial', sans-serif;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 300;
    word-spacing: 8px;
}

h1 {
        color:#eee;
        letter-spacing: -1px;
        font-weight: 300;
        word-spacing: 8px;
}
h2 {
    color:#5DA271;
    font-size: 250%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

/* Nos TARIFS
################################## */
.section-tarifs {
    background-color: rgba(237, 232, 232, 0.813);
}

.pack {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: 10px;
}
.pack h3 {
    color: green;
    font-weight: 505;
}

.pack h4 {
    font-size: 200%;
    font-weight: 100;
    position: relative;
}

.pack span {
    font-weight: 100;
    font-size: 40%;
    margin-left: 45px;
    position:absolute;
    left: 47px;
    top:5px
}
.pack-premium {
    background-color:  #1fbe51be;
    color: rgb(237, 232, 232);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3) !important;


}
.pack-premium .pack-title {
    border-bottom: 2px solid rgba(236, 228, 228, 0.849) ;
}
.pack-title-premium {
    font-size: 14px;
    position:absolute;
    top:10px;
    right: 10px;
    background-color: #fff;
    color:green;
    border-radius: 10px;
    padding: 5px;
}

.pack-title {
    padding: 10px 10px 0 10px;
    border-bottom: 2px solid rgba(122, 117, 117, 0.5) ;
    position: relative;
}

.pack-content ul {
    list-style: none;
    padding:20px;
    font-weight: 300;
    line-height: 35px;
}
.pack-content ul li i {
    font-size: 90%;
    margin-right: 10px;
}
.pack-signup {
    text-align: center;
}

button:hover{
    background-color: rgba(0,242,96,0.6);
    transition: all 1s;
    color:#22262450;
}
button {
    border:green;
    border-radius: 10px;
    width:130px;
    background-color: green;
    color:#fff;
    margin-bottom: 20px;
}

/* FOOTER
################################## */

footer {
    background-color: rgb(246, 246, 247);
    color:#fff;
}

/* logos contacts */

.col-2 , .col-2 a {
    z-index: 3;
    height: 200px;
}

.col-2 .fa-brands {
    color: #5DA271;
    border: 2px solid;
    border-radius: 50%;
    text-align: center;
    padding: 2vw;
    background-color: transparent;
}

a .fa-solid {
    color: #5DA271;
    border: 2px solid;
    border-radius: 50%;
    text-align: center;
    padding: 2vw;
    background-color: transparent;
}


.copyright {
    text-align: center;
}

/*  Media queries
=================================== */

@media screen and (max-width:576px) {

    .bandeau .col-sm-4 {
       margin: 1em;
=======
*/


/* Reset 
======================================== */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}


/* header 
======================================== */
#background-video {
    opacity: 80%;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover; 
    background-attachment: fixed;
}

#background-video {
    object-fit: cover;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

header span {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 650px;
    font-size: 45px;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    color: azure;
}


/* Navbar */
#navbar {
    background-color: #f08537;
}

#bouton-recherche {
    border-color: azure;
    color: azure;
    background-color: #f08537;
}

#bouton-recherche:hover {
    background-color: azure;
    color: #f08537;
}


/* Formulaire voyage */
#formulaire-voyage {
    position: relative;
    bottom: 750px;
}

#formulaire-voyage form {
    padding-top: 15px;
    border-radius: 20px;
    margin: 150px;
}

#formulaire-voyage input {
    background-color: transparent;
    color: azure;
    border: 2px solid;
}

#formulaire-voyage #adultes, #enfants {
    background-color: transparent;
    color: azure;
    border: 2px solid;
}

/* Main 
======================================== */

/* Section partenaires */
#partenaires img {
    width: 100%;
    background-size: cover;          
    background-position: top center; 
    background-repeat: no-repeat;
}

#partenaires h2 {
    font-family: 'Poppins', sans-serif;
}

#partenaires a {
    text-align: center;
    background-color: #f08537;
    padding-top: 10px;
    padding-bottom: 10px;
}

header video h1 {
    z-index: 1;
}


/* Media queries 
======================================== */
@media screen and ( min-width: 992px ) and ( max-width: 1013px ) {
    #navbar ul li a {
        padding: 4px;
>>>>>>> alexis
    }
}